/node_modules
/public/hot
/public/robots.txt
/public/js
/public/js/app.js
/public/storage
/storage/*.key
/vendor
/node
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar/
